<ul>
  <li *ngFor="let form of forms$">
    
        <mat-form-field class="matinput-full-width">
            <input matInput placeholder="ID" value="{{form._id}}" (keyup)="onKey($event)">
          </mat-form-field>
      <mat-form-field class="matinput-full-width">
        <input matInput placeholder="Title" value="{{form.title}}" (keyup)="onKey($event)">
      </mat-form-field>
      <mat-form-field class="matinput-full-width">
        <input matInput placeholder="Author" value="{{form.author}}" (keyup)="onKey($event)">
      </mat-form-field>
      <button mat-stroked-button (click)="onClick(form)">Submit</button>
    
  </li>
</ul>
